# In the body of the trigger below, you can use the following variables (more to be added as the need arises)
#
# event_date -> the date that the event takes place
test1: 
    enabled: true
    lookahead: 3d
    sourcecalendarid: "googlecalendarid"
    regex: "(some regex)"
    from: "someone@somewhere.com"
    to: "recipient@somewhere.com"
    subject: "Email subject"
    smtp: "mail.umdl.umich.edu"
    body: "Enter the body of the email here"

